In [1]:
import pandas as pd
import numpy as np

In [18]:
# Creating empty dataframe
df = pd.DataFrame()

dirname = '/Users/aliyafisher/OneDrive - Stanford/07-17-2023 Ablation test/'

In [12]:
l = [1,2,3]

In [16]:
df['name'] = l

In [17]:
df

   name
0     1
1     2
2     3

   name
0     1
1     2
2     3

In [35]:
excelname= dirname + 'ablation timepoints.xlsx'
master_df = []
for regionname in range (1,4):
    
    annotations = pd.read_excel(excelname,index_col=0,sheet_name='R'+str(regionname))

    colnames = annotations.index
    _df = pd.DataFrame()
    _df['Cell name'] = colnames
    _df['Region'] = regionname
    master_df.append(_df)
#    print(_df)


#    for i,cellname in enumerate(colnames):
 #       for j,time in enumerate(['t0','t1','t2','t3']):
#
 #   volumes[k]= cellvolumes
#df = pd.concat(master_df,ignore_index=True)
print(master_df)
master_df['Region']

[   Cell name  Region
0          a       1
1          b       1
2          c       1
3          d       1
4          e       1
5          f       1
6          g       1
7  dead cell       1,    Cell name  Region
0          a       2
1          b       2
2          c       2
3          d       2
4          e       2
5          f       2
6          g       2
7          h       2
8          i       2
9  dead cell       2,     Cell name  Region
0           a       3
1           b       3
2           c       3
3           d       3
4           e       3
5           f       3
6  lucky cell       3]

TypeError: list indices must be integers or slices, not str

In [37]:
excelname= dirname + 'ablation timepoints.xlsx'
master_df = []
for regionname in range (1,4):
    
    annotations = pd.read_excel(excelname,index_col=0,sheet_name='R'+str(regionname))

    colnames = annotations.index
    _df = pd.DataFrame()
    _df['Cell name'] = colnames
    _df['Region'] = regionname
    master_df.append(_df)
#    print(_df)


#    for i,cellname in enumerate(colnames):
 #       for j,time in enumerate(['t0','t1','t2','t3']):
#
 #   volumes[k]= cellvolumes
master_df = pd.concat(master_df,ignore_index=True)
master_df['Region']

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     2
9     2
10    2
11    2
12    2
13    2
14    2
15    2
16    2
17    2
18    3
19    3
20    3
21    3
22    3
23    3
24    3
Name: Region, dtype: int64

In [39]:
master_df['Vol_t3'] - master_df['Vol_t2']

0     2
1     2
2     2
3     2
4     2
5     2
6     2
7     2
8     4
9     4
10    4
11    4
12    4
13    4
14    4
15    4
16    4
17    4
18    6
19    6
20    6
21    6
22    6
23    6
24    6
Name: Region, dtype: int64